.frame{
    padding-left: 30%;
}

h1{
    text-align: center;
    padding:5px;
}

.alert{
    color: black;
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
}

.alert-feild{
    color: red;
    font-size: 15px;
}